

.project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 15px; 
}

.project .arrow {
    color: #341b38;
    font-size: 80px;
    animation-name: example;
    transition: all 0.5s ease-in-out;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }
  
  .project .arrow:hover {
    color: #e8ba7c;
    cursor: pointer;
  }

.caja{
   width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    background-color: #341b38;
   
    border-radius: 10px;
     box-shadow: rgba(60, 64, 67, 0.3) 10px 10px 10px 5px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.caja h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.caja :nth-child(3){
    font-weight: bold;
}

.caja .parrafos{
    background-color: #e8ba7c;
    border-radius: 10px;
    border: 3px solid white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.caja p{
    text-align: center;
    font-size: 15px;
    
    padding: 10px;
}

.caja img{
    height: 80%;
    width: 80%;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    border: 5px solid white;

}

.caja a{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.caja button{
    width: 90%;
    height: 50px;
    background-color: #341b38;
    border: 3px solid white;
  
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
}




@media (max-width: 950px) {


    .project .arrow  {
      display: none;
    }
  
  
  }